* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam', sans-serif;
}

html {
    background: lightblue;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    align-items: center;
}

header {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: grey;
    justify-content: center;
}

.header-title {
    color: white;
    width: 100%;
    margin:1em;
    text-align:center;
}
.nav-container:nth-child(1){
border-radius: 0 0 0 5px;
}
main {
    width: 100%;
    flex: 1;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, .nav>a {
    font-size: 1vw;
}

h1 {
    font-size: 2vw;
}

.container {
    background: grey;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-radius:5px;
}

.elements {
    background: white;
    width: 100%;
    display: flex;
    margin: 10px;
    border: 10px solid white;
}

.boxes {
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex: 0 1 20%;
}

.boxes:not(:last-child) {
    margin-right: 1%;
}

.one {
    background: yellow;
}

.two {
    background: lightgreen;
}

.three {
    background: lightskyblue;
}

.buttons {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.commands {
    border: 1px solid white;
    background: darkred;
    color: white;
    flex: 0 1 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commands>p, .boxes>p{
    margin:1em;
}
.nav-container {
    background: pink;
    width: 100%;
    display: flex;
}

.nav {
    flex: 1;
}

.nav>a {
    display: block;
    padding: 5% 10%;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
}

.bio {
    background: yellow;
}

.works {
    background: lightblue;
}

.gallery {
    background: lightseagreen;
}

footer{
    width:100%;
    background: grey;
    color:white;
    text-align:center;
    border-radius: 5px 5px 0 0;
}
footer > p{
    font-size:2vw;
}
@media screen and (max-width:760px) {
    .nav {
        flex: 1 1 100%;
    }
    .nav-container {
        flex-wrap: wrap;
    }
    .nav>a {
        padding: 2% 10%;
    }
}